.forgot__card {
    width: 350px;
    border: none;
    p{
        font-size: 14px;
    }
    &--form {
        .or--divider {
            margin: 1.5rem 0;
            text-align: center;
            width: 100%;
            position: relative;
            &::after {
                content: "";
                display: block;
                width: 100%;
                height: 1px;
                border-top: 1px solid $light-grey;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            &-text {
                position: relative;
                z-index: 2;
                color: $dark-grey;
                background-color: $white;
                padding: 0 0.5rem;
            }
        }
        .input__field{
            margin-top: 2rem;
        }
        .btn--block{
            margin: 2rem 0;
            padding: 0.75rem 1rem;
        }
        .help--text {
            margin-bottom: 0.25rem;
            font-size: 14px;
            font-weight: 600;
            a {
                font-weight: 700;
            }
        }
    }
}
