.login__card {
    .inline--content {
        @include contentCenter(flex, space-between, center);
        margin-bottom: 1rem;
    }
}

.login__card {
    min-width: 800px;
    padding: 3rem;
    &--body {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-gap: 1rem;
    }
    &--content {
        padding-top: 0.5rem;
        padding-right: 2rem;
        &-list {
            @include contentCenter(flex, flex-start, flex-start);
            margin-bottom: 1rem;
        }
        &-icon {
            min-width: 24px;
            margin-right: 0.75rem;
        }
        &-heading {
            margin-bottom: 0.75rem;
        }
        &-inlineIcon {
            @include contentCenter(flex, flex-start, flex-start);

            .supported--icon {
                @include contentCenter(flex, center, center);
                @include borderRadius();
                color: $white;
                width: 18px;
                height: 18px;
                margin-right: 0.25rem;
                &:last-child {
                    margin-right: 0;
                }
                svg {
                    width: 14px;
                    height: 14px;
                }
                &.whatsapp {
                    background: rgb(36, 211, 102);
                }
                &.email {
                    background: rgb(132, 132, 255);
                }
                &.voice {
                    background: rgb(42, 42, 230);
                }
            }
        }
    }
    &--form {
        .or--divider {
            margin: 1.5rem 0;
            text-align: center;
            width: 100%;
            position: relative;
            &::after {
                content: "";
                display: block;
                width: 100%;
                height: 1px;
                border-top: 1px solid $light-grey;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            &-text {
                position: relative;
                z-index: 2;
                color: $dark-grey;
                background-color: $white;
                padding: 0 0.5rem;
            }
        }
        .help--text {
            margin-top: 2rem;
            font-size: 14px;
            font-weight: 600;
            a {
                font-weight: 700;
            }
        }
    }
}
