// Color Variables
$bash-color:#0089ff;

/* bright blue - selected icons, hyperlinks, accents, progress-bar-progress, onHover:icons, menu-items */

$dark-blue: #2a4359;

/* for tooptip background, highlighter-button backgrounds */

$light-blue: #f6f9ff;

/* for (special requirements such as) progress-bar-background*/

$dark-grey: #24374e;

/* for labels */

$light-grey: #a5b1c4;

/* for icons, body-text */

$success: #2ea684;

/* for (special requirements such as) validation-success */

$error: #ee252d;

/* for (special requirements such as) validation-failure */

$white: #ffffff;
$black: #000000;
// font family variables
$font-family: "Nunito Sans",
sans-serif;